.card{
    margin: 20px;
    background-color: rgba(240, 248, 255, 0.75)!important;
    border-radius: 20px !important;
    width: 20rem !important;
}
.card img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin: 20px 0px;
}
.navbar{
    background-color: rgba(240, 248, 255, 0.75) !important;
    margin-bottom: 30px;
    padding:0px 40px;
}
body{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
    overflow-x: hidden;
    
}

.btn{
    background-image: url("../images/button-bg.png");
    color: white !important;
    /* font-weight: bolder !important; */
}